.logoSinaltrainal{
    background-image: url(/img/logo-sinaltrainal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    width: 4em;
    height: 4em;
    margin-right: 0.5em;
}